<?xml version='1.0' encoding='utf-8'?>
<software_setting>
    
    <temp path="C:\Users\happy_luu\OneDrive - PEGATRON CORPORATION\Working data\MR Happy\FILE temp\" />
    <file_excel_at link="test.xlsx" />
    <special_command_loc_0 enable="0" />
    <timerunrulemail time="0.1" />
    <timeautofill time="0.01" />
    <timewait time="5" /> 
    <blur value="0.5" /> 
    <webservice link="vnfbdb0" id="TSP_TDSTB" pass="ap_tbsus" isn="" device="118098" type="4" temp="1" temp2="" linkfile="webservicestring.xml" />
    <backupfile extension="sql" />
    <password pass="242db2f4f73fd3588286367f07038786fca0c2f2ebcabab6689367b8c53c3cb4" />
    
    <windows width="250" height="50" />
    <position width="1200" height="19" />
    <qrcode width="300" />
    <alwaysontop enable="1" />

     
    <file name="config" path="a.config" />
    <file name="support" path="C:\Users\happy_luu\OneDrive - PEGATRON CORPORATION\Working data\MR Happy\Document\Support for work\Ho tro tao device.xlsx" />
    <file name="report" path="C:\Users\happy_luu\OneDrive - PEGATRON CORPORATION\Working data\MR Happy\Document\Weekly report\112023\1311 - 1711\Weekly report WW46.xlsx" />
    <file name="train" path="C:\Users\happy_luu\OneDrive - PEGATRON CORPORATION\Working data\MR Happy\Document\Trainning\48th _ 1311-1711\Weekly Report WW46.pptx" />
    <file name="monitor" path="C:\Users\happy_luu\OneDrive - PEGATRON CORPORATION\Working data\MR Happy\Document\Monitor JOB\Monitor mail.xlsx" />
    <file name="mo" path="D:\SFIS Software\PM_MO  2.0.5.2\PM_MO.exe" />
    <file name="rework" path="D:\SFIS Software\REWORK  Ver2.0.1.5\REWORK.exe" />
    <file name="so" path="D:\SFIS Software\SO 4.0.0.39\SO.exe" />
    <file name="sim" path="D:\SFIS Software\SIMDCS\SIMDCS.exe" />
    <file name="simc" path="D:\SFIS Software\SIMDCS\SfisPRI.ini" />
    <file name="print" path="D:\SFIS Software\SFIS_LAB_PRINT\SFIS_LAB_PRINT.exe" />
    <file name="printc" path="D:\SFIS Software\SFIS_LAB_PRINT\SFIS_LAB_PRINT.exe.config" />
    <file name="iofile" path="D:\SFIS Software\SFIS_LAB_IOFILE 11\SFIS_LAB_IOFILE.exe" />
    <file name="iofilec" path="D:\SFIS Software\SFIS_LAB_IOFILE 11\SFIS_LAB_IOFILE.exe.config" />
    <file name="daily" path="D:\1.Documents\01. SFIS\Report\Daily_Report_Temp.xlsm" />
    <file name="test" path="D:\1.Documents\01. SFIS\Tool\Support Tool\test.xlsx" />
    <file name="sp" path="\\PVN-LANFS-01.PVN.CORP.PEGATRON\PVN_admin$\GBA-00228915\ITS\SP" />	
     
    <folder name="train" path="C:\Users\happy_luu\OneDrive - PEGATRON CORPORATION\Working data\MR Happy\Document\Trainning\48th _ 1311-1711" />
    <folder name="report" path="C:\Users\happy_luu\OneDrive - PEGATRON CORPORATION\Working data\MR Happy\Document\Weekly report\112023\1311 - 1711" />
    <folder name="temp" path="C:\Users\happy_luu\OneDrive - PEGATRON CORPORATION\Working data\MR Happy\FILE temp\2023\1123" />
    <folder name="monitor" path="C:\Users\happy_luu\OneDrive - PEGATRON CORPORATION\Working data\MR Happy\Document\Monitor JOB" />
    <folder name="support" path="C:\Users\happy_luu\OneDrive - PEGATRON CORPORATION\Working data\MR Happy\Document\Support for work" />
    <folder name="job" path="C:\Users\happy_luu\OneDrive - PEGATRON CORPORATION\Working data\MR Happy\JOB" />
    <folder name="mo" path="D:\SFIS Software\PM_MO  2.0.5.2" />
    <folder name="rework" path="D:\SFIS Software\REWORK  Ver2.0.1.5" />
    <folder name="so" path="D:\SFIS Software\SO 4.0.0.39" />
    <folder name="sim" path="D:\SFIS Software\SIMDCS" />
    <folder name="print" path="D:\SFIS Software\SFIS_LAB_PRINT" />
    <folder name="iofile" path="D:\SFIS Software\SFIS_LAB_IOFILE 11" />
    <folder name="sfis" path="D:\SFIS Software" />

    <web name="web" link="https://eip.vn.pegatroncorp.com/" />	
    <web name="ticket" link="https://pvn-bt-01.pvn.corp.pegatron/getticket/" />
    <web name="note" link="file://pvn-lanfs-01.pvn.corp.pegatron/PVN_admin$/GBA-00228915/ITS/SOP/Nick/index.html" />
</software_setting>